# При подготовке репозитория добавьте ответственного преподавателя к первой строке
* @mephi-18kpu/admins

# Изменение правил владения кодом контролирует команда администраторов
/.github/CODEOWNERS @mephi-18kpu/admins
